@model Lab03.Models.Partido

<h2><font color="#FFFFFF">Busqueda</font></h2>


<body background="~/Content/Estadio.jpg">
</body>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div id="contenedor"></div>
        <h4><font color="#FFFFFF">Seleccione una Opcion para Buscar</font></h4>
        <form method="get" action="@Url.Action("Busqueda", "Partido")">
            <label for="search"><font color="#FFFFFF">Buscar Por:</font></label>
            <select name="Tipo" id="Tipo">
                <option value="No Partido">No. de Partido</option>
                <option value="Fecha de Partido">Fecha de Partido</option>
            </select>
            <input type="text" name="Search" id="Search" />
            <button type="submit">Buscar</button>
        </form>
    </div>

}

@Html.Raw(TempData["msg1"])



<div>
    @Html.ActionLink("Listado de Partidos", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

