@model IEnumerable<Lab03.Models.Partido>

@{
    ViewBag.Title = "Partidos";
}

<body background="~/Content/FondoGris.jpg">
</body>

<h1>Listado de Partidos</h1>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")|
    @Html.ActionLink("Buscar", "Busqueda")
</p>

@Html.Raw(TempData["msg"])

<br />

<table class="table">
    <tr>
        <th>
            <h4 align="center">@Html.DisplayName("Número de Partido")</h4>
            @*@Html.DisplayNameFor(model => model.noPartido)*@
        </th>
        <th>
            <h4 align="center">@Html.DisplayName("Fecha del Partido")</h4>
            @*@Html.DisplayNameFor(model => model.FechaPartido)*@
        </th>
        <th>
            <h4 align="center">@Html.DisplayNameFor(model => model.Grupo)</h4>
        </th>
        <th>
            <h4 align="center">@Html.DisplayNameFor(model => model.Pais1)</h4>
        </th>
        <th>
            <h4 align="center">@Html.DisplayNameFor(model => model.Pais2)</h4>
        </th>
        <th>
            <h4 align="center">@Html.DisplayNameFor(model => model.Estadio)</h4>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td align="center">
                @Html.DisplayFor(modelItem => item.noPartido)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.FechaPartido)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Grupo)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Pais1)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Pais2)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Estadio)
            </td>
            <td align="center">
                @Html.ActionLink("Delete", "Delete", new { NoPartido = item.noPartido, FechaPartido = item.FechaPartido, Grupo = item.Grupo, Pais1 = item.Pais1, Pais2 = item.Pais2, Estadio = item.Estadio })
            </td>
        </tr>
    }

</table>
